= form_for @ad do |f|
  - if @ad.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ad.errors.count, "error")} prohibited this ad from being saved:"
      %ul
        - @ad.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :brand
    = f.text_field :brand
  .field
    = f.label :price
    = f.number_field :price
  .field
    = f.label :region
    = f.text_field :region
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :cellphone
    = f.text_field :cellphone
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :adress
    = f.text_field :adress
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :status
    = f.text_field :status
  %div
    %label Categories:
    - @categories.each do |category|
      %div.field
        = check_box_tag "categories[]", category.id
        = category.name
  .actions
    = f.submit 'Save'
