<!DOCTYPE html>
<html>
  <head>
    <title>VendoCelular</title>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body class="all-width no-margin">
    <div class="card-panel teal lighten-2 no-margin" style="<%= "display:none;" if alert.nil? && notice.nil? %>"><p><%= notice %><%= alert %></p></div>

    <%= render "partials/nav/nav" %>
    <%= yield %>
    <%= render "partials/footer/footer"%>
  </body>
</html>
